{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row" style="margin-left:0px;" id="contact">
    <div class="col-sm-6">
        <div style="margin-bottom: 20px;">
            <h2 id="titreContact" style="color:yellow">Contactez-nous</h2>
            <form method="post" style="color:yellow">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" id="submit" value="Envoyer" style="color:green">
            </form>
        </div>
    </div>
    <div class="col-sm-5" style="opacity:0.7;">
        <div class="card" style="margin-top: 50px;">
            <div class="card-body">
                <h5 class="card-title"><strong>Contact</strong></h5><br>
                <p class="card-text">Télephone: 06 42 44 13 60</p><br>
                <p class="card-text">Email: rizz34@free.fr</p><br>
            </div>
        </div>
    </div> 
</div>       

{% endblock %}