.card 
{
    background-color:yellow;
    opacity:0.7;
    color:green;
}

.row 
{
    background-image: url(https://cdn.pixabay.com/photo/2017/02/05/17/39/garden-2040714__340.jpg);
    background-size: 1400px 1000px;
    opacity:0.8;
}

#form 
{
    color:yellow;
    opacity:0.5;
}

h5 
{
    color:yellow;
}
#submit
{
    color:rgb(163, 132, 31);
}
#contact {
    margin-left:0px;
    margin-right: 0px;
}