{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MMPaysage</title>

  <!-- Bootstrap core CSS -->
  <link href='https://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
  <link href="projets/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'projets/css/heroic-features.css' %}">
  <link rel="stylesheet" href="{% static 'conseils/css/conseils.css' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>

<body style="font-family: 'Lobster';background-color:rgb(169, 184, 161);">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-success" id="nav">
    <div class="container">
      <a class="navbar-brand" href="/" style="color:yellow;">MM.Paysages</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/" style="color:yellow;">Accueil
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/allprojets/" style="color:yellow;">Projet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/conseils/" style="color:yellow;">Conseils du mois</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/post/" style="color:yellow;">Blog</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/" style="color:yellow;">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="parallax" id="trans1">
  <div class="txt right">
 
  </div>
  <div style="clear:both;"></div>
  <br>
  <center><div class="txt right sub" style="color:yellow;">
    Entretien - 
    Elagage - 
    Arrosage - 
    Création - 
    Maconnerie paysagère<br/>
    
  </div></center>
</div>
<div class="content" style="background-color: #90EE90;margin-bottom:25px;" id="entete">
  <img style="float:right;" src="https://images.unsplash.com/photo-1557429287-b2e26467fc2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="photo"/></a>
  <header class="jumbotron my-4" style="background-color: #90EE90;" id="jumbo">
      <h1 class="display-3" id="title">MM.Paysages</h1>
      <p class="lead">Bienvenue sur la page des conseils et astuces. Tout les mois un à plusieurs conseils seront publiés pour vous aider à entretenir vos plantes et jardins! </p>
  </header>
  <div style="clear:both;"></div>
</div>

<div class="parallax" id="trans2">
  <div style="clear:both;"></div>
</div>

  <!-- Page Content -->
  <div class="container">

    <center><h2 style="color:yellow;">Conseils</h2></center>
    <hr>

    <div class="row text-center">
    {% for conseil in conseils %}
      <div class="col-lg-12 col-md-6 mb-4 card border-warning">
        <div class="card h-100">
          <img class="card-img-top" src="{{ conseil.imageDeCouverture.url }}" alt="">
          <div class="card-body bg-success">
            <h4 class="card-title">Conseil du mois de: {{ conseil.mois}}</h4>
            <p class="card-text">{{ conseil.conseil }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

    <div id="scrollUp">
      <a href="#top"><img src="https://img.icons8.com/color/2x/chainsaw.png"></a>        
    </div>
  <!-- /.container -->
  
  <!-- Footer -->
  <footer class="py-5 bg-success">
      <div class="container">
          <p class="m-0 text-center" style="color:yellow;">Copyright &copy; MMPaysage 2019</p>
      </div>
      <!-- /.container -->
  </footer>

<script>

</script>

  <!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="projets/static/vendor/jquery/jquery.min.js"></script>
<script src="projets/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
