{% load static %}
<!DOCTYPE html>
<html lang="fr">

   <head>
       <title>MMPaysages</title>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
       <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
       <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   </head>
   <body style="background-color:rgb(169, 184, 161);">

   <div class="page-header">
       {% block title %}<h1><a href="/" style="color:yellow;">Blog MM.Paysages</a></h1>{% endblock %}
       {% block lien %}<h2><a href="/" style="margin-rigth:10px;">Retour au site</a></h2>{% endblock %}
   </div>
 
    <hr style="color:yellow;">
  
   <div class="content container">
       <div class="row">
           <div class="col-md-8">
           {% block content %}

           {% endblock %}
           </div>
       </div>
   </div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</body>
</html>