#scrollUp
{
  position: fixed;
  bottom : 10px;
  right: -100px;
  opacity: 1;
}
h1, h2, h4, #title 
{
  color:yellow;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

body 
{
  background-color:rgb(169, 184, 161);
  opacity:1;
}

#entete {
  border-width:1px;
  border-style:solid;
  border-color:yellow;
  margin-top:25px;
}

#nav 
{
  opacity:1;
  border-width:1px;
  border-style:solid;
  border-color:yellow;
  background-color: #90EE90;
}

body { 
  margin:0;padding:0;font-family:Verdana;
}

#header {
  box-sizing:border-box;-moz-box-sizing:border-box;
  z-index:3;
  position:fixed;
  top:0;
  width:100%;

  text-align:center;
  -webkit-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  border-bottom:3px solid #000;
}

.parallax {
  position:relative;
  z-index:1;
  height:450px;
  -webkit-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
}

#trans1 {
  background: url('https://images.unsplash.com/photo-1564972749528-3e64d99bd4f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60') no-repeat fixed;
  height:475px;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#trans2 {
  background: url('https://images.unsplash.com/photo-1544727219-d2ff78f0f148?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}