  h1, h2 {
    color:yellow;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  }

  #nav {
    opacity:0.8;
    margin-bottom:40px;
  }

  #jumbo, #nav {
    border-width:1px;
    border-style:solid;
    border-color:yellow;
    background-color: #90EE90;
    opacity:1;
  }

  body {
  font-family: 'Lobster';
  }

  .nav-item 
  {
    color: rgb(241, 241, 129);
  }

  #contact
  {
    margin-left:100px;
  }

  #fond
  {
    background-size: 600px 400px; 
  }

  #footer
  {
    color:yellow;
  }