.card 
{
    background-color:yellow;
}

body
{
    opacity:1;
}

form 
{
    color:rgb(194, 194, 67);
    opacity:0.7;
    
}

h5, h2
{
    color:rgb(163, 132, 31);
}

#submit
{
    color:yellow;
}

#titreContact
{
    color:yellow;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

#contact
{
    background-image: url('https://images.assetsdelivery.com/compings/imagesbavaria/imagesbavaria1507/imagesbavaria150700132.jpg');
    background-size: 1600px 500px;   
}

