#scrollUp
{
    position: fixed;
    bottom : 10px;
    right: -100px;
    opacity:1;
}

h1
{
    color:green;
}

#titleProjet
{
    margin-left:50px;
}

body {
    opacity: 0.7;
}

.dropdown
{
    margin-left:50px;
}

#emplacementProjImage
{
    margin-left:80px;   
}

/* /////////////////////////////////////////////////// */


