#cont {
    background-color:green;
}
.my-4 {
    color:rgb(23, 48, 25);
}
#title {
    color: yellow;
}

.row 
{
    background-color:rgb(169, 184, 161);
}

.col-md-4 {
    margin-top:100px;
}

img .img-fluid {
    margin-top:10px;
    margin-bottom:10px;
    width: 400px;
    height: 600px;
}