{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>MMPaysage</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'projets/vendor/bootstrap/css/bootstrap.min.css' %}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'projets/css/heroic-features.css' %}">
  <link rel="stylesheet" href="{% static 'projets/css/projets.css' %}">
  <link rel="stylesheet" href="{% static 'projets/css/projets_list.css' %}">
  <link rel="stylesheet" href="{% static 'projets/css/projets_all.css' %}">
  <link rel="stylesheet" href="{% static 'projets/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'projets/css/contact.css' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body style="font-family: 'Lobster';background-color:rgb(169, 184, 161);">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-success" id="nav">
    <div class="container">
      <a class="navbar-brand" href="/" style="color:yellow;">MM.Paysages</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/" style="color:yellow;">Accueil
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/allprojets/" style="color:yellow;">Projet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/conseils/" style="color:yellow;">Conseils du mois</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/post" style="color:yellow;">Blog</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/" style="color:yellow;">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div id="fond">
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4" id="jumbo">
      <h1 class="display-3">MM.Paysages</h1>
      <p class="lead">Bienvenue sur le site MMPaysages, nous procédons à l'élagage de vos arbres, entretien de vos jardins, mise en place ou dépannage de système d'arrosage, pose de gazon en plaques ou à semer etc.. N'hésitez pas à nous contacter!!</p>
      <a href="/allprojets/" class="btn btn-warning btn-lg">Voir projets</a>
    </header>    
  </div>
  </div>
  {% block content %}{% endblock %}
  
  <!-- Footer -->
<footer class="py-5 bg-success">
    <div class="container">
        <p class="m-0 text-center" id="footer">Copyright &copy; MMPaysage 2019</p>
    </div>
    <!-- /.container -->
</footer>

  <!-- Bootstrap core JavaScript -->
<script src="{% static 'projets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'projets/js/projet.js' %}"></script>
<script src="{% static 'projets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
