{% extends 'base.html' %}

{% block content %}

<h2 id="titleProjet">Voici nos projets:</h2>

{# dropdown for listing category #}
<div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 20px;">
        Catégories:
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  
        <a class="dropdown-item" href="#">Entretien</a>
        <a class="dropdown-item" href="#">Elagage</a>
        <a class="dropdown-item" href="#">Gazon</a>
        <a class="dropdown-item" href="#">Aménagement</a>       
    </div>
</div>

      <!-- Page Features -->
        <div class="row text-center">
        {% for proj in projet %}
            <div class="col-lg-5 col-md-6 mb-4 card border-warning" id="emplacementProjImage">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ proj.imageDeCouv.url }}" alt="">
                <div class="card-body bg">
                    <h2 class="card-title">{{ proj.name }}</h2>
                    <p class="card-text">{{ proj.description }}</p>
                </div>
                <div class="card-footer">
                  <a href="{% url 'projet' pk=proj.pk %}" class="btn btn-warning">En voir plus!</a>
                </div>
              </div>
            </div>
        {% endfor %}
        </div>
                 
        {# icon for comeback on the top of the page (style and jquery/ajax integrated) #}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  
        <div id="scrollUp">
            <a href="#top"><img src="https://static.thenounproject.com/png/851133-200.png"/></a>        
        </div>

{% endblock %}