{% extends 'base.html' %}
{% block content %}
<!-- Page Content -->
<div class="container" style="margin-bottom:20px" id="cont">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4" id="title">Page details projet</h1>
      
        <!-- Portfolio Item Row -->
        <div class="row">
      
          <div class="col-md-8">
            <img class="img-fluid" src="{{ projet.imageDeCouv.url }}" alt="">
          </div>
      
          <div class="col-md-4">
            <h3 class="my-3" style="color:yellow;">Project Description</h3>
            <p style="color:yellow;">{{ projet.description }}</p>
            <h3 class="my-3" style="color:yellow;">Project Titre</h3>
            <ul>
              <li style="color:yellow;">{{ projet.name }}</li>
              <li style="color:yellow;">Catégorie: {{ projet.category }}</li>
            </ul>
          </div>
      
        </div>
        <!-- /.row -->
      
        <!-- Related Projects Row -->
        <h3 class="my-4" style="color:yellow;">Photos Projets</h3>
        <div class="row">
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="{{ projet.image.url }}" alt="">
                </a>
          </div>
            <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="{{ projet.image2.url }}" alt="">
                </a>
          </div>
            <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="{{ projet.image3.url }}" alt="">
                </a>
          </div>
            <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="{{ projet.image4.url }}" alt="">
                </a>
          </div>
        </div>
      </div>
      <style>
       
     
{% endblock %}