{% extends 'base.html' %}

{% block content %}

<!-- Page Features -->

<div class="row text-center">
  {% for proj in projet %}
  <div class="col-lg-5 col-md-6 mb-4 card border-warning" id="tofProjet" style="margin-left:75px;" >
    <div class="card h-100">
      <img class="card-img-top" src="{{ proj.imageDeCouv.url }}" alt="">
      <div class="card-body bg-success">
        <h2 class="card-title">{{ proj.name}}</h2>
        <p class="card-text">{{ proj.description }}</p>
      </div>
      <div class="card-footer">
        <a href="{% url 'projet' pk=proj.pk %}"
          class="btn btn-warning">En voir plus!</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>



{% endblock %}